/*
	General HTML Style
*/
html, body
{
	background: whitesmoke;
	font-family: 'Open Sans';
	font-size: 4px;
	margin: 0px;
	padding: 0px;
}
br
{
	line-height: 150%;
}
.active
{
	color: #00c4c0;
}

/*
	Header Style
*/
header
{
	background: #FFF;
	height: 104px;
	margin: 0px;
	overflow: auto;
	padding: 0px;
}
.header
{
	box-shadow: 0 1px 6px rgba(0,0,0,.1);
}
.header__info
{
	flex: 5;
}
.header__logo
{
	color: #00a09b;
	display: inline;
	font-size: 7rem;
	font-weight: 700;
	line-height: 5rem;
}
.header__subtitle
{
	color: #bdbdbd;
	display: inline;
	font-size: 3.75rem;
	font-weight: 400;
	letter-spacing: 0.35rem;
	line-height: 5px;
	margin-left: 16px;
}
.header__nav
{
	flex: 7;
	text-align: right;
}
.header__nav a
{
	color: #00c4c0;
	text-decoration: none;
}
.header__container
{
	align-items: center;
	max-width: 100%;
}
.header .header__container
{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0px 30px 42px;
}
.header__nav ul
{
	text-align: right;
}
.header__nav li
{
	border-left: 2px solid whitesmoke;
	color: #00c4c0;
	display: inline;
	font-size: 4rem;
	font-weight: 700;
	line-height: 3.5rem;
	padding: 12px 40px;
}
.passwords__info
{
	font-family: 'Montserrat';
	font-weight: 700;
	margin-left: 10px;
	text-transform: uppercase;
}
.logged__user
{
	color: #00a09b;
	font-size: 6rem;
	font-weight: 700;
	line-height: 4rem;
	text-transform: capitalize;
}
.fa-chevron-down
{
	height: 14px;
	margin: 18px 3px 0px 6px;
	width: 21px;
}
.main__container
{
	margin: 50px 46px;
}

.flex__grid__container
{
	display: flex;
}

/*
	Sidebar Style
*/
.sidebar__container
{
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(93, 93, 93, 0.18);
	flex: 2;
	height: 669px;
	width: 318px;
}
.sidebar__menu__container
{
	margin: 54px 54px 30px 42px;
}
.sidebar__options__title
{
	color: #e1e6e6;
	font-family: 'Montserrat';
	font-size: 3.5rem;
	font-weight: 700;
	text-shadow: 0 2px 0 #ffffff;
	text-transform: uppercase;
}
.sidebar__options
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidebar__options li
{
	color: #747e7e;
	font-size: 3.5rem;
	font-weight: 400;
	padding: 12px 0px 12px 0px;
	text-decoration: none;
}
.sidebar__options a
{
	color: #747e7e;
	text-decoration: none;
}
.sidebar__options .active
{
	color: #019c97;
	font-weight: 700;
	text-decoration: underline;
}
.sidebar__separator
{
	border-bottom: 2px solid whitesmoke;
	margin: 12px 27px;
}
.sidebar__actions__container
{
	margin: 42px 0px 50px 27px;
}
.sidebar__action__title
{
	color: #00a09b;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 700;
	margin-left: 14px;
	text-shadow: 0 2px 0 #ffffff;
	text-transform: uppercase;
}
.sidebar_action_bottom
{
	align-items: center;
	display: block;
}
.sidebar__action__field
{
	background-color: #f1f6f6;
	border: 1px solid #dde4e4;
	border-radius: 24px;
	box-sizing: border-box;
	color: #c0c0c0;
	font-size: 14px;
	font-weight: 400;
	height: 47px;
	margin-right: 10px;
	moz-box-sizing: border-box;
	padding: 0px 16px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.79);
	webkit-box-sizing: border-box;
	width: 201px;
}
.action
{
	background: #00b2ac;
	border-radius: 50%;
	color: white;
	font-size: 6rem;
	padding: 3rem 3.6rem;
	text-shadow: 0 1px 1px rgba(76, 76, 76, 0.21);
	vertical-align: middle;
}

/*
	Library Style
*/
.library__container
{
	flex: 10;
}
.book
{
	border-radius: 2rem;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	display: block;
	margin-bottom: 2rem;
	overflow: hidden;
	width: 226px;
}
.book__image
{
	background-position: center;
	background-size: cover;
	height: 70rem;
}
.book__footer
{
	background: white;
	padding: 16px;
	position: relative;
}
.book__title
{
	color: #019c97;
	font-size: 3rem;
	font-weight: bold;
}
.book__size
{
	color: #777777;
	font-size: 3rem;
}
.book__actions
{
	bottom: 0;
	height: 14rem;
	position: absolute;
	right: 0;
	width: 12rem;
}